root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cs,csx}]
indent_style = space
indent_size = 4
dotnet_sort_system_directives_first = true
csharp_new_line_before_open_brace = all

dotnet_naming_rule.interfaces_should_have_prefix.severity = suggestion
dotnet_naming_rule.interfaces_should_have_prefix.symbols = interfaces
dotnet_naming_rule.interfaces_should_have_prefix.style = interface_prefix
dotnet_naming_symbols.interfaces.applicable_kinds = interface
dotnet_naming_style.interface_prefix.required_prefix = I
dotnet_naming_style.interface_prefix.capitalization = pascal_case

[*.{csproj,props,targets,json,yml,yaml}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false
